html, body{
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    background-color: #333;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.timer{
    position:absolute;
    left:50%;
    top:50%;
    transform: translateX(-50%) translateY(-60%);
}
#clock{
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 2px solid #fff;
    border-radius: 100%;
}
.set-time{
    display: flex;
    align-items: center;
    justify-content: center;
    float:left;
    margin-bottom: 50px;
}

#focus-time, #rest-time{
    margin: 20px;
    padding: 20px;
    height: 120px;
    width:  191px;
    font-size: 30px;
    box-sizing: border-box;
}

select{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #fff;
    background-color: #333;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 10px 10px;
}

button{
    font-family: 'Poppins', sans-serif;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    width: 134px;
    height: 60px;
    margin: 10px;
    padding: 10px 30px;
    border: 2px solid #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s;
}
button:hover{
    color: #333;
    background-color: #fff;
}